@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* root accesses everything from <html> to </html>*/
:root {
    --orange: #f2c14e;
    --winning-blocks: #2d414b;
}

body {
    color: var(--orange);
    font-family: 'Finger Paint', Cursive;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37505c;
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

/* for any element that is a child of box, it will put it in an array-like object. Every 3rd child, which is three multiplied by index (0 x 3, 1 x 3, 2 x 3, and 3 x 3)*/

.box:nth-child(3n) {
    border-right: none;
}

/* this one is saying if it is greater than six, do this style*/

.box:nth-child(6) ~ .box {
    border-bottom: none;
}

button {
    padding: 10x 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}

button:hover {
    cursor: cursor;
    transform: translateY(-2px);
}