html {
    font-family: sans-serif;
}
body {
    width: 50%;
    max-width: 800px;
    min-width: 400px;
    margin: 0;
}
.form input[type="number"] {
    width: 100%;
}
.lastResult {
    color: white;
    padding: 3px;
}
