html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(181, 225, 231);
}

.grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px
}